body
{
background-color:rgb(248, 199, 255);
}

.heading
{
    font-size: 29px;
    width:100%;
    font-family:fantasy;
    background: linear-gradient(to right,rgb(231, 160, 255),rgb(135, 225, 255),rgb(109, 153, 255),rgb(208, 79, 255));
}

.note
{
font-family:sans-serif;
font-size: 20px;
color:rgb(86, 0, 132)
}

.copy_right_footer
{
    position:fixed;
    color:rgb(93, 0, 151);
    background-color:rgb(244, 165, 255);
    width:100%;
    line-height: 3;
    text-align:center;
    font-family:cursive;
    font-size:130%;
    bottom:0;
}

canvas
{
border:10px dotted rgb(255, 62, 220);
border-radius:20px;
background-color:rgb(218, 183, 255);
box-shadow: 7px 0px 7px rgb(82, 0, 96);
}